{{!-- <table>
    <tr>
       <th>Fill</th>
       <th>Fill</th>
       <th>Fill</th>
    </tr> --}}
 {{#each happs}}                                            
        
       <tr>
              <td> <a href="/happy/{{this._id}}">{{this.name}}</a></td>
              {{!-- <td> <a href="/happy/{{this._id}}">{{this.directions}}</a></td>
              <td><a href="/happy/{{this._id}}">{{this.ingredients}}</a></td> --}}
        </tr>

   {{/each}}
  {{!--   <tr>
        <td></td>
        <td><form action="/happyRecipes/new"><input type="submit" value="New Recipe" /></form></td>
        <td></td>
    </tr>
</table> --}}