
<div>
    <h1>{{happy.name}}</h1>
    <div>{{happy.mood}}</div>
   <div>{{happy.directions}}</div>
    <div>{{happy.ingredients}}</div> 
     <div>
        <a href="/users">Back to User List</a>
    </div>
   {{!--  <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div> --}}
</div>




