<div>
    <div class="jumbotron text-center">
             <h1 class="display-3">Hello, {{user.name}}</h1>
          <div>   <p class="lead">{{user.email}}</div>
   {{!--  <h1>{{user.name}}</h1> --}}
   {{!--  <div> {{user.email}}</div> --}}

   
    <div>
   
    
  <div class= "text-center">
        <a class="btn btn-primary btn-sm" href="/users/{{user._id}}/edit">Edit</a>
         <a class="btn btn-primary btn-sm" href="/users/{{user._id}}/delete">Delete</a>
    </div>
      <hr class="my-4">
    <div>
    <a href="/users">Now Go Get Some Dessert!</a> 
    </div>

</div>


<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>