<div>
    <h1>{{angry.name}}</h1>
    <div>{{angry.mood}}</div>
   <div>{{angry.ingredients}}</div>
    <div>{{angry.directions}}</div> 
     <div>
        <a href="/users">Not in a Angry recipe Mood?</a>
    </div>
   {{!--  <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div> --}}
</div>
